html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

body {
  background-color: inherit;
	margin-top: 100px;
}

.container-fluid {
	height: 100vh;
}

.info{
	padding: 100px 0 0 9%;
}

.circle {
	height: 15rem;
	width: 15rem;
	border-radius: 100%;
	margin: 0 100px 50px 100px;
	display: inline-block;
}

.circle:active {
	opacity: 0.7;
}

.info {
	display: inline-block;
	position: absolute;
	margin-left: 17rem;
	margin-top: -5rem;
	z-index: -1;
}

#red {
	background: red;
}

#purple {
	background: purple;
}

#green {
	background: green;
}

#yellow {
	background: yellow;
}

#blue {
	background: blue;
}
