html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

body {
  background-color: inherit;
	margin-top: 100px;
	margin-left: -10%;
}


.board {
	max-width: 710px;
	min-width: 710px;
}

.info{
	padding-top: 14%;
	padding-left: 9%;
}

.circle {
	height: 15rem;
	width: 15rem;
	border-radius: 100%;
	margin: 0 100px 50px 100px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 9px #999;
	outline: none;
	border: 3px solid black;
}


.circle-blink {
	animation: blinker .2s linear;
}

@keyframes blinker {
  50% { opacity: 0.7; }
	50% { transform: translateY(4px); }
	50% { box-shadow: 0 5px #242624; }

}
.circle:active {
	opacity: 0.7;
  box-shadow: 0 5px #242624;
  transform: translateY(4px);
}

.info {
	display: inline-block;
	position: absolute;
	margin-top: -5rem;
	margin-left: -15rem;
	z-index: -1;
}

.settings {
	margin-right: 500px;
}

#red {
	background: #b70b0b;
}

#green {
	background: #139100;
}

#yellow {
	background: #f4dc42;
}

#blue {
	background: #063d96;
}
